<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Vivero el Otoño</h1>
      <hr>
      <img width="100%"
        src="https://planetasostenible.co/medios/Vivero.jpg"
        alt="vivero">
        <hr>
    </div>
    
  </div>
  <div class="row">
    <div class="col-8">
 
      <app-listar-planta></app-listar-planta>
    </div>
    <div class="col-4"></div>
  </div>
  <footer>
    <div>
      <p>
         Contact us:+57 3102105253 - info@viveroelotonio.com - @viveroelotonio
      </p>
    </div>
  </footer>
</div>