<table class="table">
    <thead class="thead-dark bg-dark text-light" >
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">Nombre Comun</th>
            <th scope="col">Tipo</th>
            <th scope="col" >Clima</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let planta of plantas ; let i = index; ">
            <td>
              {{i+1}}
            </td>
            <td>{{planta.nombre_comun}}</td>
            <td>{{planta.tipo}}</td>
            <td>{{planta.clima}}</td>
        </tr>
    </tbody>
    <br><br>
    <p>Total plantas de Interior : {{cantidadPlantasInterior}}</p>
    <p>Total plantas de Exterior : {{cantidadPlantasExterior}}</p>
</table>
